{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">

<div class="cart-container">
<h2>Your Shopping Cart!</h2>
</div>
 
{% for item in cart %}
<div class="cart-item">
    <img src="{{ item.image }}" width="80">

    <div>
        <h4>{{ item.name }}</h4>
        <p>${{ item.price }}</p>



        <!-- Quantity -->
        <form action="{{ url_for('update_quantity', id=item.id) }}" method="POST">
            <select name="quantity" onchange="this.form.submit()">
                {% for i in range(1, 21) %}
                    <option value="{{ i }}" {% if item.quantity == i %}selected{% endif %}>
                        {{ i }}
                    </option>
                {% endfor %}
            </select>
        </form>

       <!--<p> subtotal = sum(item['price'] * item.get('quantity', 1) for item in cart)</p>--> 
       

        <a href="{{ url_for('remove', id=item.id) }}">Remove</a>
    </div>
</div>
{% endfor %}

<hr>
<div class="cart-totals">
    <h3>Subtotal: ${{ subtotal }}</h3>
    <p>Shipping: ${{ shipping }}</p>
    <h2>Total: ${{ total }}</h2>
    <button class="checkout-btn">Checkout</button>
</div>

{% endblock %}